#latest.panel-group{ role: "tablist", "aria-multiselectable": "true" }
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{ role: "button", "data-toggle": "collapse", "data-parent": "#latest", href: "#latest1", "aria-expanded": "true", "aria-controls": "latest1" }
          Latest Results
          .pull-right
            %i.glyphicon.glyphicon-chevron-down

    #latest1.panel-collapse.collapse.in
      .panel-body
        .row
          .col-md-6
            %h3 Blood

            / Systolic Blood Pressure
            %label
              Systolic Blood Pressure
              %small (#{TEST_UNITS[:systolic_blood_pressure]})
            .progress
              .progress-bar{class: "#{progress_bar_color(Recommendations::SystolicPressure, @last_entry.systolic_blood_pressure)}", 'aria-valuenow': @last_entry.systolic_blood_pressure, 'aria-valuemin': '0', 'aria-valuemax': '100', style: "width: #{progress_bar_width(Recommendations::SystolicPressure, @last_entry.systolic_blood_pressure)}%;" }
                = @last_entry.systolic_blood_pressure

            / Diastolic Blood Pressure
            %label
              Diastolic Blood Pressure
              %small (#{TEST_UNITS[:diastolic_blood_pressure]})
            .progress
              .progress-bar{class: "#{progress_bar_color(Recommendations::DiastolicPressure, @last_entry.diastolic_blood_pressure)}", 'aria-valuenow': @last_entry.diastolic_blood_pressure, 'aria-valuemin': '0', 'aria-valuemax': '100', style: "width: #{progress_bar_width(Recommendations::DiastolicPressure, @last_entry.diastolic_blood_pressure)}%;" }
                = @last_entry.diastolic_blood_pressure

            / Blood Glucose
            %label
              Fasting Blood Glucose
              %small (#{TEST_UNITS[:blood_glucose]})
            .progress
              .progress-bar{class: "#{progress_bar_color(Recommendations::BloodGlucose, @last_entry.blood_glucose)}", 'aria-valuenow': @last_entry.blood_glucose, 'aria-valuemin': '0', 'aria-valuemax': '100', style: "width: #{progress_bar_width(Recommendations::BloodGlucose, @last_entry.blood_glucose)}%;" }
                = @last_entry.blood_glucose

          .col-md-6
            %h3 Cholesterol

            / Total Cholesterol
            %label
              Total Cholesterol
              %small (#{TEST_UNITS[:total_cholesterol]})
            .progress
              .progress-bar{class: "#{progress_bar_color(Recommendations::TotalCholesterol, @last_entry.total_cholesterol)}", 'aria-valuenow': @last_entry.total_cholesterol, 'aria-valuemin': '0', 'aria-valuemax': '100', style: "width: #{progress_bar_width(Recommendations::TotalCholesterol, @last_entry.total_cholesterol)}%;" }
                = @last_entry.total_cholesterol

            / HDL Cholesterol
            %label
              HDL Cholesterol
              %small (#{TEST_UNITS[:hdl_cholesterol]})
            .progress
              .progress-bar{class: "#{progress_bar_color(Recommendations::Hdl, @last_entry.hdl_cholesterol)}", 'aria-valuenow': @last_entry.hdl_cholesterol, 'aria-valuemin': '0', 'aria-valuemax': '100', style: "width: #{progress_bar_width(Recommendations::Hdl, @last_entry.hdl_cholesterol)}%;" }
                = @last_entry.hdl_cholesterol

            / LDL Cholesterol
            %label
              LDL Cholesterol
              %small (#{TEST_UNITS[:ldl_cholesterol]})
            .progress
              .progress-bar{class: "#{progress_bar_color(Recommendations::Ldl, @last_entry.ldl_cholesterol)}", 'aria-valuenow': @last_entry.ldl_cholesterol, 'aria-valuemin': '0', 'aria-valuemax': '100', style: "width: #{progress_bar_width(Recommendations::Ldl, @last_entry.ldl_cholesterol)}%;" }
                = @last_entry.ldl_cholesterol
